<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gaskell_Final_2.Properties.Settings.TechSupportConnectionString"
            connectionString="Data Source=sql.neit.edu;Initial Catalog=TechSupport;User ID=tgaskell;Password=62589361"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>